<h1>Login</h1>
<%= form_for :users do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<p><%= f.label :email, 'username' %> : <%= f.text_field :email %></p>
	<p><%= f.label :password, 'password' %> : <%= f.text_field :password %></p>
	<p><%= f.submit 'Login' %>
<% end %>
<h1>Register</h1>
<%= render 'users/form' %>
