		<div id="navigation">
			<div id="logo"><%= image_tag("logo-jobstreet-3.png", :alt => "") %></div>
			<% if current_user %>
				<p id="sign_up"><%= link_to 'my profile', current_user  %> | <%= link_to 'logout', logout_path %></p>
			<% else %>
				<p id="sign_up"><%= link_to 'login', login_path %> | <%= link_to 'sign_up', new_user_path %></p>
			
			<% end %>
			
			<div class="controls">
				<label for="keywords">Keywords <span>job title, skills, or company</span></label>
				<input type="text" name="keywords">
			</div>
			<div class="controls">
				<label for="keywords">Location <span>city, state, or zip code</span></label>
				<input type="text" name="keywords">
			</div>
			
			<p class="find_job"><%= image_tag("search.png", :alt => "") %>Find Jobs</p>
		</div>
